<div> 
  <!-- <app-sapiance (menuTitle)="receiveMessage($event)"></app-sapiance> -->
  <!--The content below is only a placeholder and can be replaced.-->
  <mat-sidenav-container class="sidenavcont">
    <mat-sidenav #sidenav mode="side" class="sidemenu"> 
        <mat-nav-list>
            <mat-list-item>
                <h2><i>Account Visualisation</i></h2>
            </mat-list-item>
          <mat-list-item class="navlistitem" [ngClass]="menuTitle=='Technology Maturity'?'is-active':''"  (click)="navigateToTechnologyMaturity('technologymaturity','Technology Maturity')">
              <i class="material-icons">
                  work
              </i>    
              <a class="menupadding" >Technology Maturity</a> 
          </mat-list-item>
          <mat-list-item class="navlistitem" [ngClass]="menuTitle=='Sapiance Report'?'is-active':''" (click)="navigateToSapianceReport('sapiancereport','Sapiance Report')">
              <i class="material-icons">
                  schedule
              </i>
              <a class="menupadding">Sapiance Report</a>
          </mat-list-item>      
        </mat-nav-list>
    </mat-sidenav>  
    <mat-sidenav-content>
       <!-- Tool bar-->
      <mat-toolbar class="toolbar" color="primary">
      <!--For modern browsers-->
        <i class="material-icons" (click)="sidenav.toggle()" style="cursor: pointer">
          menu
        </i>
        <span style="margin-left: 1%">{{menuTitle}}</span>
      </mat-toolbar>
      <button mat-fab class="chat"><i class="material-icons" (click)="assertion()">
          chat
      </i></button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>